.rulesTopSection {
  display: flex;
  justify-content:space-evenly ;
  margin-top: 20px;
  margin-bottom: 50px;
  gap: 10px;
}

.placeHolder {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  background-color: mistyrose;
  width: 300px;
  height: 300px;
  text-align: center;
  
}

.rulesCard {
  text-align: center;
  display:flex ;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.inputsInTheModal {
  display: flex;
  justify-content: space-evenly;
}

.inputs {
  width: 100%;
}